.map__container{
    position: relative;
    overflow-y: scroll;
    overflow-x: scroll;
}
.map__inner__container{
    width: 2000px;
    height: 900px;
}


.hex {
    float: left;
    margin-left: 2.0px;
    margin-bottom: -26px;
}

.hex_top {
    width: 0;
    border-bottom: 30px solid #6C6;
    border-left: 54px solid transparent;
    border-right: 52px solid transparent;
}
.hex_bottom {
    width: 0;
    border-top: 33px solid #6C6;
    border-left: 56px solid transparent;
    border-right: 52px solid transparent;
}
.hex_body{
    width: 108px;
    height: 61px;
    background-color: #6C6;
}
.hex__container {
    clear: left;
    position: absolute;
    width: 2000px;
}
.hex-row-1 {
    top: 52px;
    margin-left: 21px;
}
.hex-row-2 {
    top: 145px;
    margin-left: 76px;
}
.hex-row-3 {
    top: 239px;
    margin-left: 22px;
}
.hex-row-4 {
    top: 332px;
    margin-left: 76px;
}
.hex-row-5 {
    top: 427px;
    margin-left: 22px;
}
.hex-row-6 {
    top: 524px;
    margin-left: 76px;
}
.hex-row-7 {
    top: 619px;
    margin-left: 22px;
}
.hex-row-8 {
    top: 714px;
    margin-left: 76px;
}
.hex-row-9 {
    top: 809px;
    margin-left: 22px;
}
.hex-row-10 {
    top: 903px;
    margin-left: 78px;
}
.hex-row-11 {
    top: 998px;
    margin-left: 22px;
}
.hex-row-12 {
    top: 1093px;
    margin-left: 76px;
}
.hex-row-13 {
    top: 1189px;
    margin-left: 22px;
}
.hex-row-14 {
    top: 1284px;
    margin-left: 76px;
}
.army__icon{
    width: 50px;
    height: 50px;
    
}
