/* colours */
:root {
    --opac-orruk-green: rgb(111,151,126, .6);
    --opac-sigmar-gold: rgb(205, 149, 12, .6);
    --white: #ffffff;
  }
  
.map__container{
    position: relative;
    overflow-y: scroll;
    overflow-x: scroll;
}
.map__inner__container{
    width: 2000px;
    height: 900px;
}

.hex {
    float: left;
    margin-left: 2px;
    margin-bottom: -26px;
}

.hex_top {
    width: 0;
    border-bottom: 30px solid var(--opac-orruk-green);
    border-left: 54px solid transparent;
    border-right: 52px solid transparent;
}
.orruksHex .hex_top{border-bottom: 30px solid var(--opac-orruk-green);}
.sigmarHex .hex_top {border-bottom: 30px solid var(--opac-sigmar-gold);}

.hex_bottom {
    width: 0;
    border-top: 33px solid transparent;
    border-left: 56px solid transparent;
    border-right: 52px solid transparent;
}
.hex_body {
    height: 62px;
}
.orruksHex .hex_bottom {border-top: 33px solid var(--opac-orruk-green);}
.sigmarHex .hex_bottom {border-top: 33px solid var(--opac-sigmar-gold);}

.hex_body{background-color: transparent;}

.orruksHex .hex_body { background-color: var(--opac-orruk-green);}
.sigmarHex .hex_body {background-color: var(--opac-sigmar-gold);}

.hex__container {
    clear: left;
    position: absolute;
    width: 2000px;
}
.hex-row-1 {
    top: 52px;
    margin-left: 21px;
}
.hex-row-2 {
    top: 145px;
    margin-left: 76px;
}
.hex-row-3 {
    top: 239px;
    margin-left: 22px;
}
.hex-row-4 {
    top: 332px;
    margin-left: 76px;
}
.hex-row-5 {
    top: 427px;
    margin-left: 22px;
}
.hex-row-6 {
    top: 524px;
    margin-left: 76px;
}
.hex-row-7 {
    top: 619px;
    margin-left: 22px;
}
.hex-row-8 {
    top: 714px;
    margin-left: 76px;
}
.hex-row-9 {
    top: 809px;
    margin-left: 22px;
}
.hex-row-10 {
    top: 903px;
    margin-left: 78px;
}
.hex-row-11 {
    top: 998px;
    margin-left: 22px;
}
.hex-row-12 {
    top: 1093px;
    margin-left: 76px;
}
.hex-row-13 {
    top: 1189px;
    margin-left: 22px;
}
.hex-row-14 {
    top: 1284px;
    margin-left: 76px;
}
.army__icon{
    width: 60px;
    height: 62px;
}
